{% extends 'doska/base.html' %}

{% block title %}
Слздать объявление
{% endblock %}

{% block content %}
 <p>
<form method="post">
  {% csrf_token %}
  {{ form.text }}
   <p>
  <button type="submit" name="btn btn-succes">Добавить объявление</button>
<h2> {{alert}}</h2>



</form>



<!--(ОТОБРАЖЕНИЕ ВСЕХ ОБЪЯВЛЕНИЙ КАК НА /doska)  {% if notice %}{% for i in notice %}<div class="alert  alert-warning mt-2"> {{i.text}}  </div>{% endfor %}{% else %}<h1>Записи отсутсвуют</h1>{% endif  %}-->

{% endblock %}
